.buttons {
	background-color: #333333;
	border: 1px solid whitesmoke;
	padding: 10px 24px;
	cursor: pointer;
	width: 50%;
	display: block;
}
.buttons:not(last-child) {
	border-bottom: none;
}
.buttons:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.myFrame {
	position: absolute;
	width: 800px;
	height: 800px;
	border: 0;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: white;
	text-decoration: none;
}